 /* Google fonts links  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Entire website style  */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

/* Navbar style  */
.logo h2{
    text-align: center;
    font-size: 2.5em;
}
/* Hero section design  */
.container{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
     padding: 0 7% ;
}
.heading-title{
    padding-left: 5%;
}
.heading-image{
    padding-left: 100px;
} 
.heading-title h1{
    font-size: 3em;
    font-weight: 700;
}
.heading-title p{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}
.heading-title .btn{
    text-decoration: none;
    padding: 10px 15px;
    background: #111;
    color: #fff;
    border-radius: 30px;
}

.fa-arrow-right{
    align-items: center;
}



/* Hero section styling end here  */
.grid-box-heading{
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 20px;
}
.grid-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.child{
    margin: 0 50px;
    padding: 10px;
    box-shadow: 1px 1px  4px lightgray;
}
.flex-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child img{
    width: 300px;
    height: 256px;
   
}
.child h3{
    font-size: 24px;
}
.child h4{
    font-size: 24px;
    font-weight: 400;
}
.child .fa-star{
    margin-top: 0;
    color: orange;
}
.child .fa-star.empty{
    color: gray;
}
.child p{
    font-size: 14px;
    font-weight: 700;
}
.bottom-btn{
    text-align:right;
    padding-top: 10px;
    padding-right: 45px;
}
.bottom-btn a{
    color: #111;
    text-decoration: none;
}



/* Contact section styling  */
.contact-section{
    padding-top: 10px;
    padding-bottom: 140px;
}
.contact-section .contact-title{
    text-align: center;
    font-size: 3em;
    font-weight: 700;
}
.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}
.contact-section .input-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    border: 1px solid #111;
    background: #fff;
    padding: 20px 40px;
    outline: none;
    color: #111;
    transition: 0.5s;
    border-radius: 10px;
}
.input-text:focus{
    box-shadow: 0 0 10px 1px #34495e;
}
textarea.input-text{
    resize: none;
    height: 130px;
}
.input-text-btn{
    float: left;
    border: 0;
    background: #111;
    color: #fff;
    padding: 12px 50px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
    transition: transform .5s;
}
.input-text-btn:hover{
    background: #03203C;
    color: #fff;
    cursor: pointer;
    transform: translateX(8px);
}


/* Footer section styling start here  */
footer{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #111;
    color: #fff;
}
.footer p{
    font-size: 14px;
}
footer .fab{
    padding: 5px;
    color: #111;
    background: #fff;
    border-radius: 50px;
}
/* Footer section styling ends here  */

/* Media Query Responsive layout  */
@media only screen and (max-width: 688px) {
    .container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .logo h2{
        font-size: 2em;
        text-align: center;
    }
    .heading-title h1{
        font-size: 2em;
    }
    .container img{
        width: 100%;
        padding-top: 40px;
    }
    .grid-box-heading{
        font-size: 2em;
    }
    .grid-parent{
        grid-template-columns: repeat(1, 1fr);
    }
    .contact-title{
        font-size: 2em;
    }

}
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-parent{
        grid-template-columns: repeat(2, 1fr);
    }
}